body {
	height: 100%;
	margin: 0; padding: 0;
}

.logo{
    height: 50px;
    width: 50px;
}

header, footer{
    background:rgb(206, 206, 206);
    border: black solid 2px;
    display: flex;
    align-items: center;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
}

.main{
    width: 100%;
    height: 500px;
    border: rgb(148, 7, 7) solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
